img {
	height: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}


.table-wrapper {
	align-items: center;
    justify-content: center;
    display: block;
    /* width: 50%; */
    /* margin: 50px; */
    margin: 20px;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px 20px;
	padding-bottom: 20px;
}

.table-wrapper:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.content{
	padding: 10px 40px 0px;
}

.page-container {
	padding: 20px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

.data-th {
	background-color: rgb(84, 168, 196);
	color: white;
	padding: 0px 10px;
	height: 55px
}

.data-td {
	padding: 0px 10px;
	width: 5%;
	height: 50px
}

tr:hover {
	background-color: #ebe8e8;
}

.noHover{
    pointer-events: none;
}

.avg-table {
    margin-bottom: 50px;
}

.search-table {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
    white-space:nowrap;
    margin-bottom: 20px;

}

h1{
	color:rgb(84, 168, 196);
}

h2{
	color:rgb(84, 168, 196);
}

h3{
	color:rgb(84, 168, 196);

}

footer{
    margin-top: 10px;
	width:100%;
	border-top: dotted 1px;
}

.home-text{
	width: 100%;
}

.form-label {
    float:right;
    margin:0px;
    text-align: center;
    margin-left: 2px;
}

.agree {
    width: 13.5%;
}

.neutral {
    width: 26%;
}

.disagree {
    width: 14%;
}

.question {
    margin-top: 15px;
    border: 0px;
}

.radiobutton {
    margin-left: 40px;
}


input[type=radio] {
    transform: scale(1.5);
}

.form-table {
    width: 100%;
    border-spacing: 0px;
}

.question-text {
    width: 50%;
    padding-left: 10px;
}

form tr {
    height: 50px;
}
